body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.contenedor{
    width: 100%;
}


.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#img-logo{
    width: 120px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-area{
    background: #F3F5FC;    
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    box-sizing: inherit ;
    
}

::placeholder {color: #0A3871;}
    .text-area:focus{
        outline: none;
    }



.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 820px;
}

.frame1 p{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 850px;
}

.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 280px;
    height: 19px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.text-encriptar {
    background: #0A3871;
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
    cursor: pointer;
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.text-desencriptar{
    background: #D8DFE8;
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
    cursor: pointer;
}


.text-output{
    position: relative;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;

    }   
    

#resultado{
    position: absolute;
    padding: 32px;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    border: none;
}
    
.muñeco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1064px;
    top: 283px;

}

.avisos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1064px;
    top: 619px;    
}

.aviso1{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.aviso2{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border: none;
}



#copiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1064px;
    top: 850px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    display: none;
}

.text-copiar{
    background: #FFFFFF;
    width: 288px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
    cursor: pointer;
}

@media all and (max-width:780px){
    body{
        position: relative;
        width: 768px;
        height: 1174px;
    }

    header{
        position: absolute;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 5px;
        background: #F3F5FC;
    }

    
    .logo{
        position: absolute;
        left: 5.21%;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }

    .text-area{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;
    }

    .frame1{
        left: 40px;
        top: 836px; 
    }

    .botones{
        left: 40px;
        top: 870px;
    }

    .text-output{
        padding: 32px;
        gap: 32px;
        width: 615px;
        height: 90px;
        left: 40px;
        top: 1001px;
    }

    #resultado{
        width: 624px;
        height: 120px;
        left: 40px;
        top: 980px; 
    }

    .muñeco{
        display:none;
    }

    .avisos{
        left: 51px;
        top: 1040px;       
        width: 620px;
        height: 69px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .aviso1{
        width: 624px;
        height: 29px;
    }

    .aviso2{
        width: 624px;
        height: 24px;
    }

    .btn-copiar{
        width: 624px;
        height: 67px;
        left: 51px;
        top: 1155px;
        background: #FFFFFF;
    }


}
    
@media all and (max-width: 480px) {
    body{
        position: relative;
        width: 375px;
        height: 933px;
    }

    header{
        position: absolute;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 0px;
        background: #F3F5FC;
    }
    
    .logo{
        position: absolute;
        width: auto;
        left: 4.27%;
        right: 87.2%;
        top: 25%;
        bottom: 25%;
        
    }

   .text-area{
    position: absolute;
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;
   }

   .frame1{
    left: 16px;
    top: 451px;
   }

    .botones{
        flex-direction: column;
        width: 327px;
        height: 158px;
        left: 16px;
        top: 485px;
    }

    .text-output{
        flex-direction: column;
        width: 260px;
        height: 186px;
        left: 16px;
        top: 707px;
        bottom: 40px;
        right: 24px;
        background-image: none;
        
    }

    #resultado{
        left: 24px;
        top: 707px;
        width: 265px;
        height: 132px;
    }

    .muñeco{
        display: none;
    }

    .avisos{
        left: 51px;
        top: 740px;
        width: 263px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;   
    }

    .aviso1{
        width: 263px;
        height: 58px;
    }

    .aviso2{
        width: 263px;
        height: 48px;
    }

    .btn-copiar {
        left: 20px;
        top: 880px;
        width: 315px;
        height: 67px;      
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .text-copiar{
        width: auto;
    }
}